@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.CuisineType
@using BestRestaurants.Models

<h2>Cuisine Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Cuisineine): @Html.DisplayFor(model => modCuisineuisine)<h3>

@if (@Model.Items.Count == 0)
{
  <h3>No cuisine types have been added!</h3>
} 
else
{
  <h3>Restaurants:</h3>
  <ul>
    @foreach (Restaurant restaurant in Model.Restaurants)
    {
      <li>@Html.ActionLink($"{restaurant.Name}", "Details", "Restaurants", new { id = restaurant.RestaurantId })</li>
    }
  </ul>
}

<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.Cuisine })</p>
<p>@Html.ActionLink("Delete Category", "Delete", new { id = Model.Cuisined })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>