@{
  Layout = "_Layout";
}

@model BestRestaurants.Models.CuisineType

<h2>Edit</h2>

<h4>Edit this category: @Html.DisplayFor(model => model.Cuisine)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CuisineTypeId)

  @Html.LabelFor(model => model.Cuisine)
  @Html.EditorFor(model => model.Cuisine)

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index",null, new { @class = "link" })</p>
<p>@Html.ActionLink("Home", "Index", "Home",null, new { @class = "link" })</p>